<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/sidebar.css">

</head>
<body>
    
<aside class="sidebar">
    <div class="sidebar-header">
        <h1 class="logo">VERSUS<span>MANAGER</span></h1>
    </div>

    <nav class="sidebar-nav">
        <ul>
            <li class="btn">
                <a href="">
                    <span class="icon">📊</span>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="btn ">
                <a href="index.php?controller=joueur&action=index">
                    <span class="icon">👤</span>
                    <span class="text">Joueurs</span>
                </a>
            </li>
            <li class="btn">
                <a href="index.php?controller=coach&action=index">
                    <span class="icon">🎮</span>
                    <span class="text">Coachs</span>
                </a>
            </li>
            <li class="btn  ">
                <a href="index.php?controller=equipe&action=index">
                    <span class="icon">🏟️</span>
                    <span class="text">Équipes</span>
                </a>
            </li>
            <li class="btn">
                <a href="">
                    <span class="icon">📄</span>
                    <span class="text">Contrats</span>
                </a>
            </li>
            <li class=" btn">
                <a href="">
                    <span class="icon">🔁</span>
                    <span class="text">Transferts</span>
                </a>
            </li>
            <li class="separator"></li>
            <li class=" btn">
                <a href="">
                    <span class="icon">⚙️</span>
                    <span class="text">Paramètres</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
<script>
    const buttons = document.querySelectorAll('.sidebar-nav .btn');

</script>
</body>
</html>